<!-- Wappler include head-page="layouts/blank" fontawesome_5="cdn" bootstrap5="local" is="dmx-app" id="forbiden" appConnect="local" -->
<meta name="ac:route" content="/forbiden">
<header>
    <div class="container">
        <div class="row">
            <div class="col">
                <h1>Acesso negado</h1>
            </div>
        </div>
    </div>
</header>